.phone-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.details-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.detail-row {
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

.phone-image {
  max-width: 100px; /* Set the maximum width of the phone image */
}
